@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    font-family: 'Public Sans', sans-serif;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    font-size: 20px;
    font-weight: 800;
}

.logo a {
    text-decoration: none;
    color: #000;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

nav button {
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #5BC241;
    width: 127px;
    height: 39px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.sobre {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 40px;
    background-color: #5BC241;
}

@media (max-width: 475px) {
    header, nav {
        flex-direction: column;
    }

    header .logo {
        font-size: 40px;
    }

    nav {
        padding-top: 100px;
    }

    nav a {
        font-size: 40px;
    }

    nav .sobre {
        width: 233px;
        height: 81px;
        flex-shrink: 0;
    }

    nav button {
        font-size: 18px;
        width: 151px;
        height: 55px;
    }
}